<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/LoginReg.css" asp-append-version="true" />
</head>

<body id="particles-js">


    <div>
        <div class="st" style="transform: translateY(160%) translateX(-5%);">
            <div class="st-top">
                <div class="st-bound st-bound-full"></div>
                <p><span class="st-drop st-stranger-s">S</span><span class="st-stranger-t">t</span><span
                        class="st-stranger-r flicker-slow">r</span><span class="st-stranger-a">a</span><span
                        class="st-stranger-n">n</span><span class="st-stranger-g flicker-super-slow">g</span><span
                        class="st-stranger-e">e</span><span class="st-drop st-stranger-r-2">r</span>
                </p>
                <div class="st-bound st-bound-mini st-bound-left"></div>
                <div class="st-bound st-bound-mini st-bound-right"></div>
            </div>
            <div class="st-bottom">
                <p><span class="st-things-t">E</span><span class="st-things-h">s</span><span
                        class="st-things-i flicker-fast">c</span><span class="st-things-n">a</span><span
                        class="st-things-g">p</span><span class="st-things-s">e</span></p>
            </div>
        </div>
        <div class=" justify-content-evenly d-flex ms-6" style="transform: translateY(1300%);">
            <div class="fs-2 Login tags">
                <a href="/Login" class="tagsColor">Login</a>

            </div>
            <div class="fs-2 Register tags">
                <a href="/Register" class="tagsColor">Register</a>
            </div>
        </div>

    </div>
    <audio src="~/assets/GrowlFinal.mp3" type="audio/mpeg" autoplay loop></audio>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="~/js/LoginReg.js" asp-append-version="true"></script>

</body>

</html>