<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/Description.css" asp-append-version="true" />

</head>

@* COLOR OF RED A THE LAST LINE *@
@* ADD FLICKER - SLOW AND MEDIUM/ NO FAST- FOCUS MUST BE ON DESCRIPTION *@
@* TRY SHIMMER ASSET / SOMETHING ELSE BESIDE RAIN CANT OVER PLAY RAIN *@
@* LOUD RAIN AT MATCHING DB THAT LEADS INTO DESCRIPTION, THEN GRAD MAKE IT LOWER *@
@* PUMP IN RAIN AUDIO AT - 15DB AFTER *@
@* OFF WHITE FONT *@

<body>
    <div class="video-wrapper" style="transform: translateX(-25%);">
        <video src="~/assets/Display.mp4" autoplay muted loop></video>
        <div class="container mt-6">
            <div class="text-center">


                <p class="One"><span> You find yourself </span><span class="red"> alone at home</span><span> on
                        a
                        dark and rainy night.</span></p>

                <p class="Two"><span>Your sanity being questioned </span> by your own intuition as you look for your
                    brother
                    Will,<span>who has been missing for days.</span></p>

                <p class="Three"><span> Others say you are crazy </span><span> but you can feel him communicating
                    </span><span class="red">through lights in your home.</span></p>

                <p class="Four"><span> He left clues and a safe somewhere </span><span> in the house with the means for
                        rescuing
                        him</span><span class="red"> from his dark and mysterious fate. </span></p>

                <p class="Five"><span> It is up to you to get the code, and save your brother. </span></p>

                <p class="Six"><span> But be careful, </span><span> fore there are monsters </span>
                    <span> that lurk in your mind and in your home.</span>
                </p>
            </div>

            <div class="text-center justify-content-center">
                <h4 class="red Seven mt-3 text-decoration-underline">RULES</h4>
                <p><Span class="Seven">Solve all the puzzles and rescue Will before time runs out!</Span></p>
                <p> <Span class="Eight">Use the mouse to click and interact with key objects on the screen</Span></p>
                <p> <Span class="Eight">Failing to complete the game before time runs out will result in ghastly
                        consequences</Span></p>
                <p> <Span class="Nine"> Using all your attempts on any Puzzle without solving it will result in a game
                        over </Span></p>
                <p> <Span class="Ten"> Most importantly <span class="red"> Good Luck. </span></p>

            </div>
            <div class="text-center">


                <div class="st">
                    <h2 class="Twelve red text-uppercase">Welcome to </h2>
                    <div class="st-top Eleven">
                        <div class="st-bound st-bound-full"></div>
                        <p><span class="st-drop st-stranger-s">S</span><span class=" st-stranger-t">t</span><span
                                class="st-stranger-r flicker-slow">r</span><span class="st-stranger-a">a</span><span
                                class="st-stranger-n">n</span><span
                                class="st-stranger-g flicker-super-slow">g</span><span
                                class="st-stranger-e">e</span><span class="st-drop st-stranger-r-2">r</span>
                        </p>
                        <div class="st-bound st-bound-mini st-bound-left"></div>
                        <div class="st-bound st-bound-mini st-bound-right"></div>
                    </div>
                    <div class="st-bottom">
                        <p><span class="st-things-t">E</span><span class="st-things-h">s</span><span
                                class="st-things-i flicker-fast">c</span><span class="st-things-n">a</span><span
                                class="st-things-g">p</span><span class="st-things-s">e</span></p>

                    </div>
                    <div class="fs-5 tags Twelve text-center">
                        <a href="/LivingRoom" class="tagsColor">PROCEED</a>
                    </div>



                </div>
            </div>
        </div>

        <audio src="~/assets/RainDisplay.mp3" type="audio/mpeg" autoplay loop></audio>
</body>

</html>
