@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Eater&family=Orbitron&family=Rock+Salt&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="~/css/LivingRoom.css" asp-append-version="true" />
</head>


<body>
    <div class="container">
        <div class="bulb">
            <div class="filaments"></div>
        </div>
    </div>
    <div class="container2">
        <div class="bulb2">

        </div>
    </div>
    <div class="container3">
        <div class="bulb3">
        </div>
    </div>
    <div class="container4">
        <div class="bulb4">
        </div>
    </div>
    <div class="container5">
        <div class="bulb5">
        </div>
    </div>
    <div class="container6">
        <div class="bulb6">
        </div>
    </div>
    <div class="container7">
        <div class="bulb7">
        </div>
    </div>
    <div class="container8">
        <div class="bulb8">
        </div>
    </div>
    <div class="container9">
        <div class="bulb9">
        </div>
    </div>
    <div class="container10">
        <div class="bulb10">
        </div>
    </div>
    <div class="container11">
        <div class="bulb11">
        </div>
    </div>

    <button class="open-button" onclick="openForm()"></button>
    <div class="form-popup" id="bookName">
        <form action="" class="form-container">
            <h1>Enter A Title</h1>

            <label for="bookTitle">Title</label>
            <input type="text" name="" id="">
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>
    <button class="basement-door"><a href=""></a></button>
    <div class="letters">
        <h1>M</h1>
    </div>
    <div class="letters2">
        <h1>I</h1>
    </div>
    <div class="letters3">
        <h1>C</h1>
    </div>
    <div class="letters4">
        <h1>H</h1>
    </div>
    <div class="letters5">
        <h1>A</h1>
    </div>
    <div class="letters6">
        <h1>E</h1>
    </div>
    <div class="letters7">
        <h1>L</h1>
    </div>
    <div class="letters8">
        <h1>C</h1>
    </div>
    <div class="letters9">
        <h1>H</h1>
    </div>
    <div class="letters10">
        <h1>O</h1>
    </div>
    <div class="letters11">
        <h1>I</h1>
    </div>
    <audio src="~/assets/LivingRoom.mp3" type="audio/mpeg" autoplay loop></audio>
    <script src="~/js/LivingRoom.js" asp-append-version="true"></script>
</body>

</html>