<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/Success.css" asp-append-version="true" />
</head>


<body class="SuccessPage">
    <div class="st">
        <h2 class="Twelve red text-uppercase spacing">Congratulations<br> You Survived. </h2>
        <div class="st-top Eleven">
            <div class="st-bound st-bound-full"></div>
            <p><span class="st-drop st-stranger-s">S</span><span class=" st-stranger-t">u</span><span
                    class="st-stranger-r flicker-slow">c</span><span class="st-stranger-a">c</span><span
                    class="st-stranger-n">e</span><span class="st-stranger-g flicker-super-slow">s</span><span
                    class="st-stranger-e">s</span><span class="st-drop st-stranger-r-2">!</span>
            </p>
            <div class="st-bound st-bound-mini st-bound-left"></div>
            <div class="st-bound st-bound-mini st-bound-right"></div>
        </div>
        <div class="st-bottom">
            <p class="display-1"><span class="st-things-t">E</span><span class="st-things-h">s</span><span
                    class="st-things-i flicker-fast">c</span><span class="st-things-n">a</span><span
                    class="st-things-g">p</span><span class="st-things-s">e</span><span class="st-things-s">d</span></p>
        </div>

</body>
<audio src="~/assets/04 Gentle Gleams.mp3" type="audio/mpeg" autoplay loop></audio>

</html>
