body,html {
  background-image:url("wwwroot/css/img/letter-wall.jpg");
  background-color: black;  
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}



/* STRANGER THINGS LETTERING AND FORMATTING */

.st{
  
  width: 650px;
  margin: 6rem auto 3rem auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 8rem;
  font-family: 'ITC Benguiat W01';
  font-weight: 800;
  color: #1c0502;
  text-shadow: -0.05rem -0.05rem 1px #ed2b12,
    0.05rem -0.05rem 1px #ed2b12,
    -0.05rem 0.05rem 1px #ed2b12,
    0.05rem 0.05rem 1px #ed2b12,
    0 0 80px #630100,
    0 0 20px #450100;
  letter-spacing: -10px;
  margin-bottom: 0px;
  padding-bottom: 0px;

}
span:hover
{
  filter: blur(70px);
  opacity: 0;
}

.st p {
  display: inline-block;
  margin: 0;
  
}

.st-bound {
  box-shadow: -0.05rem -0.05rem 2px #ed2b12,
    0.05rem -0.05rem 2px #ed2b12,
    -0.05rem 0.05rem 2px #ed2b12,
    0.05rem 0.05rem 2px #ed2b12;
  height: 5px;
}

.st-bound-full {
  width: 110%;
  margin: auto;
  margin-bottom: -2.2rem;
  max-width: 1300px;
  margin-left: 0px;
}

.st-bound-mini {
  margin-top: 0.6rem;
}

.st-bound-left {
  float: left;
  width: 95px;
  position: relative;
  left: -.3rem;
  top: -1.5rem;
}

.st-bound-right {
  float: right;
  width: 103px;
  left: 3.5rem;
  position: relative;
  top: -1.5rem;
}

.st-bottom {
  clear: both;
  top: -6.75rem;
  position: relative;
  left: 1rem;
  letter-spacing: 0px;
}

.st-drop {
  line-height: 0;
  position: relative;
  top: 1.55rem;
}

.st-stranger-s {
  font-size: 10.5rem;
  letter-spacing: -8px;
}

.st-stranger-t {
  letter-spacing: 0;
}

.st-stranger-n {
  letter-spacing: -5px;
}

.st-stranger-g {
  letter-spacing: 0;
}

.st-stranger-r-2 {
  font-size: 10.5rem;
  right: 0.2rem;
}

.st-things-t {
  font-size: 104%;
  letter-spacing: 2px;
}

.st-things-n {
  letter-spacing: -5px;
}

.st-things-g {
  letter-spacing: -3px;
}

/* FLICKER ANIMATION */


.flicker-slow{
  animation: flicker 7s linear infinite;
}

.flicker-fast{
  animation: flicker 1s linear infinite;
}
.flicker-medium{
  animation: flicker 10s linear infinite;
}

.flicker-super-slow{
  animation: flicker 15s linear infinite;
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: .99;
		
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
	}

/* PARTICLES HITTING FULL SCREEN */


}
#particles-js{
  height: fit-content;
  margin-top: -450px;
  
  
}


/* FONT AND COLOR OF THE FONT ON LOGIN/REG */

.RegisterMain,.LoginMain{
  position: relative;
   width: 250px;
  margin: 6rem auto 3rem auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 8rem;
  font-family: 'ITC Benguiat W01';
  font-weight: 300;
  color: #1c0502;
  text-shadow: -0.05rem -0.05rem 1px #ed2b12,
    0.05rem -0.05rem 1px #ed2b12,
    -0.05rem 0.05rem 1px #ed2b12,
    0.05rem 0.05rem 1px #ed2b12,
    0 0 80px #630100,
    0 0 20px #450100;
    animation: fadeIn 4s;
  }
   

  /* VIDEO BACKGROUND SETTINGS */
video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    size: 100vw 100vh;
    background-repeat: no-repeat;
}

.video-wrapper {
  border: 2px solid #000;
  width: 100vw;
  height: 100vh;
  position: relative; 
  /* overflow: hidden; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ATTRIBUTES FOR "a" TAGS */

.tags{
  text-align: left;
  text-transform: uppercase;
  font-family: 'ITC Benguiat W01';
  color: #aa3432;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 21px;
  animation: fadeIn 4s;
  
}

.tags:hover
{
color: #ed2b12;
font-size: 40px;
transform: scale(1.5); 
transition: transform 2s;
cursor: pointer;
}
.tagsColor{
  color: #ed2b12;
  text-decoration: none;
  font-size: 21px;
  cursor: pointer;
}
.tagsColor:hover
{
  color: #ed2b12;
  cursor: pointer;
}





.goHome
{
 font-family:  'ITC Benguiat W01';
 text-decoration: none;
 color: #ed2b12;
 font-size: 24 ;
 font-weight: 100;
 position: relative;
 text-align: center;
transform: translateY(-2000%) translateX(-1.34%);
text-decoration: none;
animation: fadeIn 4s;

}
.goHome:hover
{
  color: #ed2b12;
  /* box-shadow: 5px 5px 5px 5px #630100; */
}




.goHomeWord
{
   text-decoration: none;
   color: #ed2b12;
   cursor: pointer;
}
.goHomeWord:hover
{
  color: #450100;
  cursor: pointer;
  transition: 8s;
  }





.goHome2
{
 font-family:  'ITC Benguiat W01';
 text-decoration: none;
 color: #ed2b12;
 font-size: 24 ;
 font-weight: 100;
 position: relative;
 text-align: center;
transform: translateY(-1000%) translateX(-1.94%);
text-decoration: none;
animation: fadeIn 4s;

}
.goHome2:hover
{
  color: #ed2b12;
  /* box-shadow: 5px 5px 5px 5px #630100; */
}




.goHomeWord2
{
   text-decoration: none;
   color: #ed2b12;
   cursor: pointer;
}
.goHomeWord2:hover
{
  color: #450100;
  cursor: pointer;
  transition: 8s;
  }

/* KEYFRAMES FOR FORM "FADE IN" */

@keyframes fadeIn{
  0% {opacity: 0;}
  100% {opacity: 1;}
}


@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}


/* LABEL AND INPUT ATTRIBUTES */


label { 
    display:flex;
    margin:20px;
    width:220px;
    overflow:auto;
    font-family:ITC Benguiat W01;
    font-size:15px;
    color:#ed2b12;
    text-shadow:0 0 10px #630100;
    /* padding:20px 10px 10px 0; */
    letter-spacing:5px ;
}

input {
    /* float:right; */
    /* width:200px; */
    /* border:2px solid #ed2b12; */
    
    /* font-size:20px; */
    /* padding:5px;
    margin-top:-10px;  */
    box-shadow:0 0 0px #ed2b12;
  }


input:focus { 
    outline:none;
    border-color:#ed2b12;
    box-shadow:0 0 10px #ed2b12;
} 

.difficulty{
  padding: 0px;
  position: absolute;
  top: calc(15% - 75px/2);
  left: calc(-8% - 75px/2)
}

.One,.Two,.Three,.Four,.Five,.Six,.Seven,.Eight,.Nine,.Ten{
 font-family: 'ITC Benguiat W01';
 text-decoration: none;
 color: white;
 font-size: 24 ;
 font-weight: 100;
 position: relative;
 text-align: center;
 text-transform: uppercase;
}


.One{
  animation: fadeIn 2s;
  
}
.Two{
  animation: fadeIn 3s;
}
.Three{
  animation: fadeIn 5s;
}
.Four{
  animation: fadeIn 10s;
}
.Five{
  animation: fadeIn 15s;
}
.Six{
  animation: fadeIn 20s;
}
.Seven{
  animation: fadeIn 25s;
}
.Eight{
  animation: fadeIn 30s;
}
.Nine{
  animation: fadeIn 40s;
}
.Ten{
  animation: fadeIn 50s;
}
 .red{
  color: #ed2b12;
 }

 h2{
  letter-spacing: 5px;
 }

 .Eleven{
  animation: fadeIn 50s;
 }

 .Twelve{
  animation: fadeIn 80s;
 }

.proceed{
  bottom: calc(35% - 75px/2);
  left: calc(47% - 75px/2);
  position: absolute;
}



